/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.banner {
    height: 500px;
    width: 100%;
    background-image: url('./Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.about-signin {
    height: 80px;
    width: 100%;
    text-align: right;

}

.Aboutus,
.Signin {
    color: yellow;
    margin-top: 20px;
    padding: 7px 10px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.Signin {
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px;
    border: 3px solid red;
}

.logo {
    background: url('./Logo.png') center no-repeat;
    margin-top: 10px;
    height: 200px;
}

.content-center {}

.text {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.startnow {
    text-align: center;
    margin-top: 20px;
}

button {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 7px 10px;
    border: 3px solid red;
    cursor: pointer
}

.left,
.center,
.right {
    width: 33%;
    display: inline-block;
    text-align: center;
}

span {
    display: block;
    color: white;
    font-size: 20px;
}

.text span {
    color: aquamarine;
    font-size: 30px;
}

img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px
}